<!--
    <section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">
  
      <div class="container">
  
        <div class="center-form panel">
          <div class="panel-body">
          <h4 class="text-center"><i class="ion-log-in"></i> Login</h4>
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                     <form >
            <div class="form-group">
              <input type="text" class="form-control input-lg" name="email" placeholder="Email" formControlName="email">
              <span class="ion-at form-control-icon"></span> 
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" name="password" placeholder="Password" formControlName="password">
                <span class="ion-key form-control-icon"></span> 
            </div>
  
            <button type="submit" class="btn btn-block btn-success"> Login</button>
  
            <p class="text-center">
              <small>Don't have an account yet? <a routerLink="/signup">Sign up</a></small>
  
            </p>
  
          </form>
  
        </div>
        </div>
  
      </div>
  
    </div>
  <section>-->
      <form #addForm ="ngForm" (ngSubmit)='addProduct(addForm)'>
    <div class="container"> 
   name: <input #name ='ngModel'required  minlength="10" name ='name' ngModel/>
   <span *ngIf ='addForm.submitted && name.errors.required'> u have fill the name</span>
   <span *ngIf ='addForm.submitted && name.errors.minlength'> u have </span>  
    Product Quantity:<input name ='quantity"' ngModel/> 
   price:<input name= 'price' ngModel/> 
    
    <br> 
    <br>
    <button type="submit" > Add Product   </button>
    <!--<button (click)="editProduct()">     Edit Product </button>
   <button (click)= "deleteProduct()">    Delete Product </button>-->
    <br>
    <br>
    <br>
  </div>
  </form>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
        <tr>
          <th>  Name    </th>
          <th>  Quantity </th>    
          <th>  Price   </th>    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= " let prod of products  "> 
          <td> {{prod.name}} </td>
          <td> {{prod.quantity}}</td>
          <td> {{prod.price }}</td>
          </tr>
      </tbody>
    </table>
   
    

     