<div id="header" class="nav-collapse nav-solid" >
        <div class="row clearfix">
            <div class="col-1">
  
                <!--Logo-->
                <div id="logo">
  
                    <!--Logo that is shown on the banner-->
                    <img src="../assets/images/logo.png" id="banner-logo" alt="Landing Page"/>
                    <!--End of Banner Logo-->
  
                    <!--The Logo that is shown on the sticky Navigation Bar-->
                    <img src="../assets/images/logo-2.png" id="navigation-logo" alt="Landing Page"/>
                    <!--End of Navigation Logo-->
  
                </div>
                <!--End of Logo-->
  
                <aside>
  
                    <!--Social Icons in Header-->
                   <app-social></app-social>
                    <!--End of Social Icons in Header-->
  
                </aside>
  
                <!--Main Navigation-->
                <nav id="nav-main">
                    <ul>
                          <li>
                                <a routerLink="/Home" routerLinkActive="active">Home</a>
                          </li>
                          <li>
                              <a routerLink ="/About" routerLinkActive="active">About</a>
                          </li>
                          <li>
                              <a routerLink ="/Gallary" routerLinkActive="active">Gallery</a>
                          </li>
                          <li>
                              <a routerLink ="/Service" routerLinkActive="active">Services</a>
                          </li>
                          <li>
                              <a routerLink ="/Testamonial" routerLinkActive="active">Testimonials</a>
                          </li>
                          <li>
                              <a routerLink ="/Clients" routerLinkActive="active">Clients</a>
                          </li>
                          <li>
                              <a routerLink ="/Pricing" routerLinkActive="active">Pricing</a>
                          </li>
                          <li>
                            <a routerLink ="/Login" routerLinkActive="active">Login</a>
                        </li>
                      </ul>
                    </nav>
                <!--End of Main Navigation-->
  
                <div id="nav-trigger"><span></span></div>
                <nav id="nav-mobile"></nav>
  
            </div>
        </div>
    </div><!--End of Header-->