<!--The content below is only a placeholder and can be replaced.-->
<app-contact-us></app-contact-us>
<app-login></app-login>
<!--
<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
        <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
        <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
        <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
        <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
    </div>
    
    <div id="wrapper">
   
      
        <main id="content">
        <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <app-nav></app-nav>
        </header>

     <router-outlet></router-outlet>


     delet for routing
           <app-what-we-do></app -what-we-do>
        <app-our-protofolio></app-our-protofolio>
        <app-content></app-content>
        <app-testamonial></app-testamonial>
        <app-client></app-client>

        <app-our-pricing></app-our-pricing>-->
        
    <!--    </main>
        
        <app-footer></app-footer>
       
  
    
    </div>-->
    